<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First Express App</title>
</head>

<body>
    <%- include('../partials/nav.ejs') %>
        <%= myVar %>
            <h3>We're gonna count to ten:</h3>
            <% for (let i =1; i<11; i++){ %>
                <p>
                    <%= i %>
                </p>
                <% } %>
</body>